@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

button.buy-alien-btn {
    background-color: rgb(51 65 85);
}
button.buy-alien-btn span {
    display: none;
}
button.buy-alien-btn:after {
    content: "Buy with Credit Card";
    color: white; 
}

button.buy-equipment-btn {
    background-color: rgb(51 65 85);
}
button.buy-equipment-btn span {
    display: none;
}
button.buy-equipment-btn:after {
    content: "Buy with Credit Card";
    color: white; 
}